:root {

    --heading: #ff8906;
    --paragraph: #0f0e17;

    --background: #F9FAF9;
    --impact-background: #C7CCD1;

    /*
    Highlights must not be used against each other (cause it will be illegible
    Highlight and secondary (in default) are ok against background, and tertiary is ok against heading and
    paragraph. Anything else will fail AIM checks
     */

    --highlight: #05ADF0;
    --secondary: #C41E3A;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--paragraph);
    background-color: transparent;
}

a {
    color: darkblue;
}

a:visited {
    color: var(--secondary);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lobster', cursive;
    font-weight: 400;

}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}
h4 {
    padding-top: 1vw;
    font-size: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x:hidden;
    background-color: var(--background);
    align-items: center;
}


header {
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem;
    border-bottom: var(--heading) 7px solid;
    box-shadow: 0px 0px 25px 3px var(--paragraph) ;
    z-index: 10;


}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
}

nav div:hover {
    text-shadow: 1px 1px 3px var(--heading);
}

nav a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 600px;
    z-index: 5;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

}

.text-content {
    width: 100%;
    padding: 10px 40px;
    display: block;
    border-top: var(--heading) 7px solid;
    box-shadow: 0px 0px 25px 3px var(--paragraph) ;

}

.text-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}


.carousel-background {
    padding: 5px;
    margin: 0;
    width: 100%;
    min-height: 650px;
    max-height:80%;
    background-image: url('../images/dfa_banner3.jpg');
    background-size: cover;
    background-position: center center;

}

.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.floating-box {
    background-color: var(--impact-background);
    position: relative;
    max-width: 80%;
    min-width: 800px;
    max-height: 80%;
    min-height: 550px;
    margin:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    z-index: 5;
    transition: transform 0.5s ease-in-out;
}

.carousel-control-left, .carousel-control-right {
    width: 30px;
    height: 100%;
    color: var(--paragraph);
    background-color: var(--heading);
    text-align: center;
    padding: 2px;
}

.carousel-control-left:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--secondary);
}
.carousel-control-right:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--secondary);
}

.carousel-card {

}

#flight-position-map {
    width: 95%;
    height: 85%;
    opacity: 1;
    margin-bottom: 5px;
}

#booking-box form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#booking-box table{
    width: 100%;
    height: 100%;
    margin-top:5px;
}

#booking-box tr {
    margin: 5px;
}

#booking-box th {
    color: var(--impact-background);
    padding: 1px;
    text-align: right;
}

#booking-box td {
    padding: 3px;
}

#booking-box select option:disabled {
    display: none;
}

.searchbar form {
    display: flex;
    flex-direction: row;
}

.flight-choice-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height:400px;
    width: 100%;
    overflow: auto;
}

.flight-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flight-choice h3 {
    margin-top: 5px;
}

.flight-choice table {
    box-sizing: border-box;
    width: 80%;
    margin-top:5px;
    overflow-y: scroll;
}

.flight-choice tr {
    margin: 5px;
}

.flight-choice tr th {
    color: var(--impact-background);
    background-color: var(--paragraph);
    padding: 1px;
    text-align: center;
}

.flight-choice tr td {
    padding: 3px;
    align-items: center;
    justify-content: center;
    background-color: var(--impact-background);
}

.flight-choice-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flight-choice td p, input {
    padding: 1px;
}
#booking-box button {

    font-family: 'Lobster', sans-serif;
    width: 50%;
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    border: var(--heading) 2px solid;
    background-color: var(--heading);
    box-shadow: var(--paragraph) 1px 1px 1px 0px;
}

#booking-box button:hover {
    background-color: var(--secondary);
}

#booking-box button:active {
    background-color: var(--secondary);
    box-shadow: var(--paragraph) 1px 1px 1px 0px inset;
}

.carousel-card-content form label {
    font-size: 1.5em;
    font-weight: bold;
    margin: 2px;
}

.carousel-card-content form input, select {
    height: 40px;
    width: 80%;
    margin: 2px;
    padding: 2px;
    font-size: 1.2em;
    border: var(--heading) 2px solid;
    background-color: var(--background);
    box-shadow: var(--paragraph) 1px 1px 1px 0px;
}

.searchbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--heading);
    padding: 5px 0px;
}

.searchbar form input, select {
    height: 30px;
    background-color: var(--impact-background);
    margin: 0 1px;

}

.searchbar button {
    background-color: var(--impact-background);
    width: 60px;
}


.carousel-card-content {
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carousel-card-content h3 {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top:3px;
}

.logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;

}

/* Schedule Box Display CSS */

#schedule-box table {
    margin-top: 3px;
    height: 100%;
    background-color: var(--background);
    border: var(--secondary) 2px solid;
    padding: 1px;
}

#schedule-box th {
    background-color: var(--secondary);
    color: var(--impact-background);
    padding: 1px;
}

#schedule-box td {
    padding: 4px 4px;
    font-family: "Source Code Pro", monospace;
    font-size: 0.95em;
    background-color: var(--paragraph);
    color: var(--heading);
}

.user-choices-for-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height:100px;
    border-radius: 5px;
    box-shadow: var(--paragraph) 1px 1px 1px 0px;
    background-color: var(--impact-background);
    margin: 10px 5%;
}

.leg-selected {
    color: var(--highlight);
    font-weight: bold;
}

#bookFlights {
    width: 50%;
    height: 50px;
    background-color: var(--highlight);
    margin: 10px;
}

#bookFlights:disabled {
    background-color: var(--secondary);
}

.fullwidth-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.airport_card {
    display: flex;
    max-width: 45%;
    min-width: 30%;
    flex-direction: row;
    background-color: var(--impact-background);
    padding:10px;
    margin: 10px;

}

.airport_card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.airport_card img {
    max-width: 200px;
    min-width: 75px;
    max-height: 200px;
    min-height: 75px;
}

/*Page Footer and Related CSS*/

footer {
    width: 100%;
    background-color: var(--paragraph);
    color: var(--impact-background);
    box-shadow: 0 0 25px 3px var(--paragraph) ;
    z-index: 10;
}

