<!-- index.html -->
{%  extends 'base.html' %}

{% block content %}

 <section class = "floating-box-container">

    <div id="booking-box" class="floating-box carousel">
        <h3>Find a Flight</h3>
        <span class="material-symbols-outlined expand-button">expand_content</span>


    </div>
     <div id="booking-box" class="floating-box carousel">
         <h3>Upcoming Schedule</h3>
         <span class="material-symbols-outlined expand-button">expand_content</span>


     </div>
     <div id="flight-status-box" class="floating-box carousel">
        <h3>Current Aircraft Positions</h3>
         <span class="material-symbols-outlined expand-button">expand_content</span>


    </div>
 </section>

<section>

Ah, Dairy Flat Airways, a whimsical marvel in the countryside.
    Picture a petite runway, framed by fields and curious cows.
    Its spirited pilots defy gravity with charm, their propellers humming a harmonious tune.
    Above, behold the splendor of Dairy Flat, a patchwork quilt of nature's wonders.
    Embrace the joy, wonder, and freedom of this enchanting escape.
    Soar above the ordinary, dance with the sky, and discover the beauty of Dairy Flat Airways.

</section>



{% endblock %}

