{%  extends 'base.html' %}
{% load static %}
<!-- index.html -->

{% block content %}

 <section class = "carousel-background">
<div id="index-carousel" class="carousel-container">

    <div id="schedule-box" class="floating-box carousel-card">
        <span class="material-symbols-outlined carousel-control-left">navigate_before</span>
            <div class="carousel-card-content">
                <h3>Upcoming Schedule</h3>
                <div id="upcoming_schedule_display"></div>
            </div>
        <span class="material-symbols-outlined carousel-control-right">navigate_next</span>
    </div>


    <div id="booking-box" class="floating-box carousel-card carousel-default">
        <span class="material-symbols-outlined carousel-control-left">navigate_before</span>
        <div class="carousel-card-content">
            <h3>Find a Flight</h3>
            <form method="post" action="/dfairways/search_scheduled_flights/"><table>
                {% csrf_token %}
                {{  form.as_table }}
            </table>
            <button type="submit">Search</button></form>
        </div>
        <span class="material-symbols-outlined carousel-control-right">navigate_next</span>
    </div>


     <div id="flight-status-box" class="floating-box carousel-card">
         <span class="material-symbols-outlined carousel-control-left">navigate_before</span>
         <div class="carousel-card-content">
             <h3>Current Aircraft Positions</h3>
                <div id="flight-position-map"></div>
         </div>
         <span class="material-symbols-outlined carousel-control-right">navigate_next</span>

     </div>
</div>

 </section>

<section class="text-content" id="about-us">

    <h2>Our Story</h2>
    <p>audacity and unyielding spirit. Nestled amidst the breathtaking landscapes of the Kiwi countryside, this humble airline dares to dream big and embraces the vastness of the skies. Led by a visionary team of aviators, they embark on a journey to conquer the air with boundless innovation, unwavering determination, and a sprinkle of Kiwi ingenuity.</p>

    <p>Within the endless expanse of Dairy Flat's azure heavens, their fleet of aircraft dances with grace, carrying passengers on captivating journeys that span mountains, valleys, and sparkling coastlines. From the moment passengers step aboard, an enchanting aura of adventure and wonder envelops them. With each takeoff, Dairy Flat Airways effortlessly weaves practicality and a touch of Kiwi charm, transforming every flight into a remarkable chapter of a grand narrative.</p>

    <p>But it is not just the flights themselves that leave an indelible mark on the souls of travelers. Dairy Flat Airways weaves a tapestry of connection and camaraderie, uniting passengers from all walks of life in a shared experience of soaring through the heavens. The airline becomes a cultural touchstone, a place where dreams take flight and memories are etched deep within the hearts of those fortunate enough to embark on this extraordinary journey.</p>

</section>

<script src=" {% static 'dairy_flat_airways/scripts/content_updates.js' %}"></script>
    <script src="{%  static 'dairy_flat_airways/scripts/map_control.js' %}"></script>
{% endblock %}

